version: '3'

services:
  frontend:
    build: ./frontend
    depends_on:
      - backend
    networks:
      - nginx-net

  backend:
    build: ./backend
    networks:
      - nginx-net

  web:
    build: ./nginx
    ports:
      - "8080:80"
    depends_on:
      - frontend
      - backend
    networks:
      - nginx-net

networks:
  nginx-net: